absl-py==1.0.0
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
Automat==20.2.0
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.10.0
btrfsutil==5.17
CacheControl==0.12.6
cachetools==5.2.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.1.3
colorama==0.4.4
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==37.0.0
cupshelpers==1.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
deluge==2.0.5
distlib==0.3.4
distro==1.7.0
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
ez-setup==0.9
filelock==3.7.0
flatbuffers==1.12
fonttools==4.33.3
gast==0.4.0
GeoIP==1.3.2
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
gufw==22.4.0
h5py==3.7.0
html5lib==1.1
hyperlink==21.0.0
idna==3.3
imageio==2.19.3
incremental==21.3.0
ipykernel==6.13.0
ipython==8.4.0
Jade-Application-Kit==3.5.7
jedi==0.18.1
joblib==1.1.0
jupyter-client==7.3.1
jupyter-core==4.10.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keyutils==0.6
kiwisolver==1.4.2
lensfun==0.3.3
LibAppArmor==3.0.4
libclang==14.0.1
libtorrent==2.0.6
lit==13.0.1.dev0
louis==3.21.0
Mako==1.1.6
manjaro-sdk==0.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
more-itertools==8.12.0
msgpack==1.0.3
mugshot==0.4.3
nest-asyncio==1.5.5
netsnmp-python==1.0a1
networkx==2.8.2
nltk==3.7
npyscreen==4.10.5
numpy==1.22.4
oauthlib==3.2.0
opencv-python==4.5.5.64
openpyxl==3.0.10
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.4.2
parso==0.8.3
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pipenv==2022.5.2
platformdirs==2.5.2
ply==3.11
progress==1.6
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycparser==2.21
pycups==2.0.1
pycurl==7.45.1
Pygments==2.12.0
PyGObject==3.42.1
pyinotify==0.9.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-sip==12.10.1
PyQtWebEngine==5.15.5
PySide2==5.15.4
PySide6==6.3.0
pysmbc==1.0.23
python-dateutil==2.8.2
python-pam==1.8.4
python-xapp==2.2.1
pytz==2022.1
PyWavelets==1.3.0
pyxdg==0.27
PyYAML==6.0
pyzmq==23.1.0
rados==2.0.0
rbd==2.0.0
regex==2022.4.24
rencode==1.0.6
reportlab==3.6.9
requests==2.27.1
requests-oauthlib==1.3.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
service-identity==21.1.0
setproctitle==1.2.3
shiboken2==5.15.4
shiboken6==6.3.0
six==1.16.0
soupsieve==2.3.1
stack-data==0.2.0
systemd-python==234
team==1.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
torch==1.11.0+cpu
torchaudio==0.11.0+cpu
torchvision==0.12.0+cpu
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
Twisted==22.4.0
typing_extensions==4.2.0
udiskie==2.4.2
ufw==0.36.1
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
wrapt==1.14.1
zope.interface==5.4.0
